<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyParty Confirmation</title>
</head>
<body>
  <div style="text-align:center"><img src='/images/StudyParty_logo_transparent_sm.png' alt="StudyParty_logo_transparent_lg.png" width="181" height="72" style="margin-right:0px" />
    <br></br>
    <h4>There was an error processing your request. Please try again, or email <a href="mailto:info@studyparty.com">info@studyparty.com</a></h4></div>
</body>
</html>